{% extends 'base.html' %}

{% block content %}
<h1>This is About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dignissimos eius eos in iste laboriosam molestiae quas repellat sed veniam. A delectus error ex
        fugiat harum molestias nemo sunt veritatis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut autem consectetur consequuntur cumque cupiditate dignissimos fugit id ipsa, ipsum labore non nulla odit possimus ratione
        sapiente vel velit veniam.</p>
{% endblock %}