{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Java Class{% endblock %}</title>
</head>
<body>
<header>
    <h1>Java Class</h1>
    <nav>
        <ul>
            <li><a href="{% url 'my_home'  %}">Home</a></li>
            <li><a href="{% url 'my_about' %}">About</a></li>
            <li><a href="{% url 'my_contact' %}">Contact</a></li>

        </ul>
    </nav>
</header>
<main>
    {% block content %}
{#this is where other page content goes#}

    {% endblock %}

<footer>
    <p>&copy; Copyright 2024 java_class</p>
</footer>
</main>
</body>
</html>