{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>This is homepage</h1>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores beatae deleniti, doloribus ea earum, enim explicabo fugiat iure labore libero neque nesciunt nobis non
            numquam quam quasi quod repellat!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam asperiores at blanditiis, dolor dolorem fugit ipsa laudantium molestiae sapiente tempora tenetur, veniam voluptatum. Adipisci commodi dolore
            tempora temporibus velit!</p>
        <img src="{% static 'images/WhatsApp Image 2024-10-21 at 8.58.26 PM.jpeg' %}" width="300" height="300" alt="">

    </div>
{% endblock %}